# Electron 的版本。
set npm config --target=6.0.10
# Electron 的系统架构, 值为 ia32 或者 x64。
set npm config --arch=x64
# 下载 Electron 的 headers。
eset npm config --disturl=https://npm.taobao.org/mirrors/atom-shell/
# 告诉 node-pre-gyp 我们是在为 Electron 生成模块。
set npm config --runtime=electron
